/* index.html */
#absoluteBackground {
    position: absolute;
    left: 23%;
    height: 100%;
    max-height: 100%;
    width: 55%;
    max-width: 55%;
}

body#indexPage {
    background-color: rgb(14, 13, 13);
}

#cover {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: black;
    animation-name: changeOpacity;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    height: 100%;
    width: 100%;
}

div#enter {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
}

div#enter a h1 {
    position: absolute;
    opacity: 0;
    left: 41%;
    top: 65%;
    color: red;
    font-size: 100px;
    letter-spacing: 1rem;
    font-family: 'Creepster', cursive;
    animation-name: enterTextShadow;
    animation-fill-mode: forwards;
    animation-delay: 5s;
    animation-duration: 21s;
    pointer-events: none;
}

div#leftSide, div#rightSide {
    margin-bottom: 1%;
}

@keyframes enterTextShadow {
    from {
        text-shadow: none;
    }
    to {
        text-shadow: 0px 9px 3px rgb(107, 224, 11);
        opacity: 1;
    }
}

@keyframes changeOpacity {
    0% {opacity: 1;}
    25% {opacity: 0.9}
    50% {opacity: 0.7;}
    75% {opacity: 0.7;}
    100% {opacity: 0.5;}
}

/* game.html */
body {
    margin-top: 0;
}

#bottomSpacer {
    margin-bottom: 5%;
}

#creepyTitle {
    -webkit-animation: resetGlow 1s ease-in-out infinite alternate;
    -moz-animation: resetGlow 1s ease-in-out infinite alternate;
    animation: resetGlow 1s ease-in-out infinite alternate;
}

div#rightSide {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 67%;
    background-color: black;
}

div#leftSide {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: black;
}

div#spacer {
    padding: 7%;
}

#heading {
    font-family: 'Creepster', cursive;
    font-size: 70px;
    letter-spacing: 3px;
    animation-name: enterTextShadow;
    animation-fill-mode: forwards;
    animation-duration: 5s;
}

h1.gameOver {
    text-shadow: 1px 7px rgb(48, 241, 48);
}

img {
    position: absolute;
}

#levelResult {
    display: flex;
    justify-content: center;
}

#leave {
    font-size: 30px;
}

#leave, #reset {
    padding-top: 5px;
    text-align: center;
    -webkit-animation: resetGlow 1s ease-in-out infinite alternate;
    -moz-animation: resetGlow 1s ease-in-out infinite alternate;
    animation: resetGlow 1s ease-in-out infinite alternate;
}

nav {
    text-align: center;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

nav div h1 {
    font-family: 'Creepster', cursive;
    font-size: 51px;
    color: rgb(250, 0, 0);
    padding: 0px;
    text-decoration: none;
    margin-bottom: 1%;
}

nav#levelResult {
    position: fixed;
    top: 300px;
    background-color: transparent;
}

#reset {
    margin-top: 0px;
}

@-webkit-keyframes resetGlow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
      }
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
      }
}